.gradient-text {
    background: linear-gradient(to right, #66ABCB, #7A71E7); /* Replace these color codes with your desired gradient colors */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.gradient-button {
    background: linear-gradient(to right, #66ABCB, #7A71E7);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

a {
    text-decoration: none;
}

.changeFont {
    font-size: 20px;
}